

     
    <div id="loginFrm" class="col-sm-6 col-sm-offset-4">
       <h1><center>{{msg}}<center></h1>  
       <div class="form-group">
            <label for "loginUser">User Name</label>
            <input id="loginUser"  ng-model="loginUser"  type ="text" class="form-control" placeholder="User Name">
        </div> 
         <div class="form-group">     
               <label for "loginPasswd">Password</label>
               <input id="loginPasswd" ng-model="loginPasswd" type="password" class="form-control" placeholder="Password">
         </div>
         <button type="button" class="btn btn-default btn-lg">Login
 			 <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 
		</button>
        
         <p> New member? click here <a href="#register" id="regLink">to register</a></p>
   </div> 

